.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7ad19;
    color: #000;
    padding: 1rem;
  }
  
  .header-heading {
    margin-left: 35%;
    font-size: 20pt;
  
  }
  
  .header-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .header-links li {
    margin-right: 1rem;
  }
  
  .header-links a {
    text-decoration: none;
    color: #000;
  }
  