.scatter-image {
    width: 900px; /* Adjust this value to your desired width */
    height: auto; /* The height will adjust proportionally based on the width */
    display: block;
    margin: 0 auto;
  }


  .scroll1 {
    margin-left: 50pt;
    margin-top: 5pt;
  }

  .selected-year {
    margin-left: 40%;
    font-size: 15pt;
    margin-top: 5pt;
    
  }

  .inline-container {
    display: flex; /* Use a flex container to place elements horizontally */
    align-items: center; /* Center vertically within the container */
    margin: 20pt;
  }

  .fixed-width-select3 {
    width: 30%; 
  }

.fetch-button {
    background-color: #03DAC6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4pt;
    margin-left: 10pt;
    max-height: 30pt;
    /* Add additional styling as needed */
  }
  